<div class="wrapper">

<!-- 
      Header Content
      ==============
-->

	<header id="masthead">
		<div class="container">
			<a href="https://www.mozilla.org" id="tabzilla">Mozilla</a>
			<nav id="nav-main" role="navigation">
				<span class="toggle" role="button">Menu</span>
	    		<ul style="" id="nav-main-menu">
	        		<li class="first"><a data-name="donate" href="https://sendto.mozilla.org/page/contribute/givenow-seq?preset=2&amp;source=mozillaorg_topNAV&amp;ref=EOYFR2014&amp;utm_campaign=EOYFR2014&amp;utm_source=mozilla.org&amp;utm_medium=referral&amp;utm_content=mozillaorg_topNAV">Donate</a></li>
	        		<li><a data-name="mission" href="/en-US/mission/">Mission</a></li>
	        		<li><a data-name="firefox" href="/en-US/firefox/desktop/">Firefox</a></li>
	       		 	<li class="last"><a data-name="community" href="/en-US/contribute/">Community</a></li>
	      		</ul>
	    	</nav>
		</div>
	</header>

<!-- 
      Body Content
      ============
-->

	<main>
		<header>
			<img class="main-logo" src="/images/main-logo.png" alt="Mozilla Kerala">
		</header>


<!--
		<div class="download">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center">
							<a target="_blank" href="https://www.mozilla.org/en-US/firefox/">
								<img src="/images/firefox-logo-wordmark-white.png" alt="">
							</a>
					</div>
					<div class="col-md-4 ffd text-center">
							<a target="_blank" href="https://www.mozilla.org/en-US/firefox/">
								<button class="btn ffd-btn">
									FREE DOWNLOAD
								</button>
							</a>
							<div class="sub-link">
								<span><a href="https://www.mozilla.org/en-US/firefox/all/">Systems &amp; Languages</a></span>
								<span>|</span>
								<span><a href="https://www.mozilla.org/en-US/firefox/notes/">What’s New</a></span>
								<span>|</span>
								<span> <a href="https://www.mozilla.org/en-US/privacy/firefox/">Privacy</a></span>
							</div>
					</div>
				</div>
			</div>
		</div>
-->


		<div class="events">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<div class="event-updates">
							<h1>Upcomming events</h1>
							<hr>
							<div class="row">
								<div class="col-xs-10">
									<div class="row">
										<div class="col-sm-5 col-md-4">
											<div class="next-event">
												<div class="round-shape white date">
													<span class="month">Aug</span>
													<span class="day">04</span>
												</div>
											</div>
										</div>
										<div class="col-sm-7 col-md-8 text-left">
											<div class="next-event">
												<div class="event-name">
													<h2><a href="#">MozCoffee @ Kochi</a></h2>
													<h4><span class="glyphicon glyphicon glyphicon-calendar" aria-hidden="true"></span> August 4, 2015</h4>
													<h4><span class="glyphicon glyphicon glyphicon-map-marker" aria-hidden="true"></span> Kochi, Kerala, India</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-2">
									<div class="row">
										<div class="col-xs-12">
											<div class="next-event-nav">
												<span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>





		<div class="our-best">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<h1>Our Best</h1>
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 text-center">
						<div class="row">
							<div class="col-md-12">
								<h2><b>Mozillian of the month</b></h2>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 col-md-6 text-center">
								<div class="round-shape">
									<img src="https://mozillians.org/media/uploads/sorl-cache/07/f7/07f74f64885c27e9d6dab19355348f14.jpg" alt="Profile Photo">
								</div>
							</div>
							<div class=" col-sm-8 col-md-6 text-left">
								<h2>Nikhil John</h2>
								<h4><b>Contributions:</b> HTML DevConf, Bootcamp, WoMoz Fest, MeetUps, MozCoffee, Webmakers, Webmaker Festival etc.</h4>
								<button data-redirect-url="https://mozillians.org/en-US/u/nikzjon/" class="btn green durl">Find him</button>
							</div>
						</div>
					</div>
					<div class="col-md-6 text-center">
						<div class="row">
							<div class="col-md-12">
								<h2><b>App of the month</b></h2>
							</div>
						</div>
						<div class="row left-vertical-line">
							<div class="col-xs-6 col-sm-2 col-sm-offset-1">
								<div class="round-shape long-box first">
									<img src="https://marketplace.cdn.mozilla.net/img/uploads/previews/full/169/169978.png" alt="">
								</div>
							</div>
							<div class="col-xs-6 col-sm-3">
								<div class="round-shape long-box second">
									<img src="https://marketplace.cdn.mozilla.net/img/uploads/previews/full/169/169974.png" alt="">
								</div>
							</div>
							<div class="col-sm-5 col-sm-offset-1 text-left">
								<h2>Run Ball Run</h2>
								<h4><b>Developer : </b>Nikhil John</h4>
								<button data-redirect-url="https://marketplace.firefox.com/app/run-ball-run" class="btn green durl">Go to Marketplace</button>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>






		<div class="mk-stats">
			<div class="container">
				<div class="row text-center">
					<div class="col-sm-4">
						<div class="round-shape white">
							<span>112</span>
						</div>
						<div class="sub-title">
							<span>Events</span>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="round-shape white">
							<span>1723</span>
						</div>
						<div class="sub-title">
							<span>Active Mozillians</span>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="round-shape white">
							<span>8214</span>
						</div>
						<div class="sub-title">
							<span>Learners</span>
						</div>
					</div>
				</div>
			</div>
		</div>





		<div class="newsletter">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 text-center">
						<h1>Get Mozilla Kerala updates</h1>
					</div>
				</div>
				<form action="">
					<div class="row">
						<div class="col-sm-5 col-sm-offset-1">
							<div class="row">
								<div class="col-sm-12">
									<input type="email" placeholder="YOUR EMAIL HERE" required />
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<input type="checkbox" required />
									<span>I’m okay with Mozilla handling my info as explained in this <a href="https://www.mozilla.org/en-US/privacy/">Privacy Policy</a></span>
								</div>
							</div>
						</div>
						<div class="col-sm-5 col-sm-offset-1">
							<div>
								<button type="submit">SIGN ME UP</button>
							</div>
							<div>
								<span>We will only send you Mozilla-related information.</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>

<!-- 
      Footer Content
      ==============
-->

	<footer class="footer">
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="tm-name">
						<img class="logo" src="/images/logo.png" alt="Mozilla Kerala">
						mozilla <span class="green">Kerala</span>
					</div>
				</div>
				<div class="col-sm-6"></div>
			</div>
		</div>
	</footer>
</div>