<!DOCTYPE html>
<html lang="en">
  <head>

<!-- 
      MetaData
      ========
-->
    <title>Mozilla Kerala</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Mozilla Kerala Portal">
    <meta name="author" content="Mozilla Kerala">
    <link rel="shortcut icon" href="/favicon.png">



<!-- 
      CSS Scripts
      ==============
-->
    <!--STYLES-->
    <link rel="stylesheet" href="/min/production.min.css">
    <!--STYLES END-->
    <link href="https://mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet" />
  </head>
  <body>



<!-- 
      HTML Code
      =========
-->
    <%- body %>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->



<!-- 
      JavaScripts
      ===========
-->
    <!--SCRIPTS-->
    <script src="/min/production.min.js"></script>
    <!--SCRIPTS END-->
    <script src="https://mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>
  </body>
</html>
